.root{
    -fx-background-color: #000000;
}

.table-view{
   -fx-background-color: transparent;
   -fx-border-color: #c0c0c0;
   -fx-table-cell-border-color: transparent; /* To disable vertical grid lines */
}

.table-view .column-header-background {
    -fx-background-color: #e0e0e0;
}

.table-view .column-header-background .label{
    -fx-background-color: transparent;
    -fx-text-fill: black;
    -fx-font-size: 11px;
    -fx-font-weight: normal;
    -fx-alignment: center-left;
}

.table-view .column-header {
    -fx-background-color: transparent;
    -fx-size: 1.1em;
}

.table-view .arrow {
    -fx-padding: 6px 2px 3px 1px; /*A bit tricky, and the result is not very good */
}

.table-view .table-cell {
    -fx-text-fill: white;
}

.table-row-cell {
    -fx-border-width: 1;
    -fx-border-style: dotted;
    -fx-border-color: white;
    -fx-background-color: -fx-table-cell-border-color, #616161;
    -fx-background-insets: 0, 0 0 1 0;
    -fx-padding: 0.0em; /* 0 */
    -fx-cell-size: 18px;
    -fx-font-size: 12px;

}

.table-row-cell:odd{
    -fx-background-color: -fx-table-cell-border-color, #424242;
    -fx-background-insets: 0, 0 0 1 0;
    -fx-padding: 0.0em; /* 0 */  
}


.table-row-cell:selected {
    -fx-background-color: #0000ff;
    -fx-table-cell-border-color: transparent;
}

.check-box-table-cell {
    -fx-alignment: center;
    -fx-padding: 0;
}

.check-box-table-cell > .check-box {
    -fx-font-size: 10px;
/*    -fx-opacity: 1;
    -fx-padding: 0 0 1 0; */
}

/*
.check-box-table-cell > .check-box > .box {
    -fx-background-color: -fx-outer-border, -fx-background;
    -fx-background-insets: 0,1;
}



.table-view .filler {
	-fx-background-color: -fx-table-cell-border-color, #616161;
}
.table-view > .virtual-flow > .scroll-bar:vertical,
.table-view > .virtual-flow > .scroll-bar:vertical > .track,
.table-view > .virtual-flow > .scroll-bar:vertical > .track-background, 
.table-view > .virtual-flow > .scroll-bar:horizontal,
.table-view > .virtual-flow > .scroll-bar:horizontal > .track,
.table-view > .virtual-flow > .scroll-bar:horizontal > .track-background {
    -fx-background-color: transparent;
}



.table-view > .virtual-flow > .scroll-bar > .increment-button, 
.table-view > .virtual-flow > .scroll-bar > .decrement-button {
    -fx-opacity: 0;
}
*/

.separator {
    -fx-background-color: transparent;
}

.tool-bar {
	-fx-background-color: black;
}

.tree-view {
	-fx-background-color: black;
}

.progress-bar {
	-fx-background-color: black;
	-fx-max-height: 20px;
}

.button {
	-fx-background-color: white;
}